# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node (if you ever use npm)
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local

# Temporary files
*.tmp
*.temp

# Build folders (future-proof)
dist/
build/